# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Environments
venv/
.venv/
env/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# MLflow
mlruns/
mlflow.db

# Model checkpoints
*.pth
*.pt

# Figures (uncomment if you don't want to commit generated plots)
# figures/*.png
# figures/*.pdf